{
  "parser": "babel-eslint",
  "extends": "rallycoding",
  "plugins": ["sort-imports-es6-autofix"],
  "rules": {
    "semi": "off",
    "react/sort-comp": "off",
    "react/require-extension": "off",
    "arrow-body-style": "off"
  }
}
